# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Maya/Debug
/Maya/.vs/Maya/v15
/Maya/Maya/Debug
/Maya/Maya/DecryptedMessage.txt
/Maya/Maya/Message.txt
/Maya/Maya/Release/vc141.pdb
/Maya/Maya/Release/Maya.tlog/Maya.lastbuildstate
/Maya/Maya/Release/Maya.tlog/link.write.1.tlog
/Maya/Maya/Release/Maya.tlog/link.read.1.tlog
/Maya/Maya/Release/Maya.tlog/link.command.1.tlog
/Maya/Maya/Release/Maya.tlog/CL.write.1.tlog
/Maya/Maya/Release/Maya.tlog/CL.read.1.tlog
/Maya/Maya/Release/Maya.tlog/CL.command.1.tlog
/Maya/Maya/Release/Maya.log
/Maya/x64/Debug/Maya.pdb
/Maya/x64/Debug/Maya.ilk
/Maya/Release/mayas_challenge.pdb
/Maya/Release/Maya.pdb
/Maya/Maya/x64/Debug/vc141.pdb
/Maya/Maya/x64/Debug/vc141.idb
/Maya/Maya/x64/Debug/Maya.tlog/Maya.lastbuildstate
/Maya/Maya/x64/Debug/Maya.tlog/link.write.1.tlog
/Maya/Maya/x64/Debug/Maya.tlog/link.read.1.tlog
/Maya/Maya/x64/Debug/Maya.tlog/link.command.1.tlog
/Maya/Maya/x64/Debug/Maya.tlog/CL.write.1.tlog
/Maya/Maya/x64/Debug/Maya.tlog/CL.read.1.tlog
/Maya/Maya/x64/Debug/Maya.tlog/CL.command.1.tlog
/Maya/Maya/x64/Debug/Maya.log
/Maya/x64/Release/mayas_challenge.pdb
/Maya/Maya/x64/Release/vc141.pdb
/Maya/Maya/x64/Release/Maya.tlog/Maya.lastbuildstate
/Maya/Maya/x64/Release/Maya.tlog/link.write.1.tlog
/Maya/Maya/x64/Release/Maya.tlog/link.read.1.tlog
/Maya/Maya/x64/Release/Maya.tlog/link.command.1.tlog
/Maya/Maya/x64/Release/Maya.tlog/CL.write.1.tlog
/Maya/Maya/x64/Release/Maya.tlog/CL.read.1.tlog
/Maya/Maya/x64/Release/Maya.tlog/CL.command.1.tlog
/Maya/Maya/x64/Release/Maya.log
